@media (max-width: 1920px) and (max-height: 1080px){
body{
    background-color: rgb(26, 24, 24);
}
.slider-container{
    max-width: 1920px;
    position: relative;
    margin: auto;
    height: 1080px;
    margin-bottom: 15px;
    background-color: rgb(22, 22, 22);
}
.Slider{
    max-width: 1800px;
    position: relative;
    margin: auto;
    height: 500px;
    margin-bottom: 15px;
}
/*маштаб по отношению к родительскому элемнту*/
.Slider .Slide img{
    object-fit: cover;
    width: 50%;
    height: 70%;
    margin-left: 400px;
    border: none !important;
    box-shadow: none !important;
    border-radius: 5px;
}
/*botto next and prev*/
.Slider .prev, .Slider .next {
    cursor: pointer;
    position: absolute;
    top:0;
    top:50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.Slider .next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*при наведение на кнопки добавляется фон кнопок*/
.Slider .prev:hover,
.Slider .next:hover{
    background-color: rgba(0,0,0,0.8);
}
/*заголовок*/
.textSlide{
position: absolute;
margin-left: 480px;
margin-top: 30px;
color: rgb(251, 251, 251);
font-size: 20px;
/*выравнивание по горизонтали по вертикали*/
transform: translate(-50%,-50%);

}
/*круги*/
.slide-bottons{
margin-left: 1075px;
margin-top: 0px;

   
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: rgb(50, 115, 213);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.1s ease;
}
.active,
.slider-dots_item:hover{
    background-color: rgb(170, 170, 170);
}
/*Анимация слайдов */
.Slider .Slide {
-webkit-animation-name: fade;
-webkit-animation-duration: 0.5s;
animation-name: fade;
animation-duration: 0.5s;
}

@-webkit-keyframes fade {
    from{
        opacity: .4
    }
    to{
        opacity: 1
    }
}

@keyframes fade{
    from{
        opacity: .4 
    }
    to{
        opacity: 1
    }
}
}